

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--  NAV BAR-->
<app-menu></app-menu>
<!-- END NAV BAR-->


<div class="jumbotron" style="margin-top:2%;background-color: whitesmoke;margin-bottom: 5px; ">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">


    <div class="form-group">
      <label class="control-label">Papier</label>
      <select multiple class="form-control" id="exampleFormControlSelect02" name="papier" ngModel >
        <option *ngFor="let p of listePapier"  value="{{p.idPapier}}"> {{p.libelle}} </option>
      </select>
    </div>

    <div class="form-group">
      <label for="inputEmail">Date de la demande </label>
      <input type="date" class="form-control" id="inputEmail" placeholder="text"  name="dateDemande" ngModel>
    </div>




    <button type="submit" class="btn btn-primary">Demander</button>
  </form></div>

</body>
</html>
