
.navbar {
  height: 15px;
  background-color: #f7ecb5;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar li a {

  font-style: italic;
  font-weight:  normal;
  font-variant: inherit;

  font-size: 15px;

}
.navbar li  {

  float: left;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;

}
