

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--  NAV BAR-->
<app-menu></app-menu>
<!-- END NAV BAR-->
<div class="jumbotron" style="margin-top:2% ">


  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Matière</th>
        <th>Note</th>
        <th>Numéro de controle</th>
        <th>Professeur</th>





      </tr>  <tr  *ngFor="let c of listNote">
        <td *ngIf="showPanelTr==1"> {{c.matiere.libelle}}</td>
        <td *ngIf="showPanelTr==1"> {{c.note}}</td>
        <td *ngIf="showPanelTr==1"> {{c.numeroControle}}</td>
        <td *ngIf="showPanelTr==1"> {{c.prof}}</td>




      </tr>

      </thead>
      <tbody>




      </tbody>
    </table>
    <ul>
      <div *ngIf="listNote && listNote.length">

        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="size" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"  ></ngb-pagination>
        </div>

      </div>

    </ul>
  </div>
</div>




</body>
</html>
