






<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--  NAV BAR-->
<app-menu></app-menu>
<!-- END NAV BAR-->
<div class="jumbotron" style="margin-top:2% ">

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>

        <td >Papier</td>
        <td>Etudiant</td>
        <td>Date du demande</td>
        <td>Etat</td>
        <td>ACTION</td>
      </tr>

      </thead>
      <tbody>

      <tr *ngFor="let d of listeDemande">

        <td>{{d.papier.libelle}}</td>
        <td>{{d.etudiant.nom}} {{d.etudiant.prenom}}</td>
        <td>{{d.dateDemande}} </td>
        <td>{{d.etat}} </td>
        <td> <a (click)="updateState(d.idDemandePapier)">Valider Traitement</a></td>



      </tr>


      </tbody>
    </table>
    <ul>
      <div *ngIf="listeDemande && listeDemande.length">

        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="size" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"  ></ngb-pagination>
        </div>

      </div>
    </ul>
  </div>
</div>

</body>
</html>





