

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<!--  NAV BAR-->
<app-menu></app-menu>
<!-- END NAV BAR-->
<div class="jumbotron" style="margin-top:2% ">

  <select class=form-control  style="width:90px"  [(ngModel)]="idNiveau">
    <option *ngFor="let n of listeNiveau" value="{{n.idNiveau}}">{{n.libelle}}</option>

  </select>
  <button type="submit" class="btn btn-circle" (click)="getAllMatiereByNiveau(page-1)">ENREGISTRER</button>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
      <tr>

        <td >Matiere</td>
        <td>Coéficient</td>

        <td>ACTION</td>
      </tr>

      </thead>
      <tbody>

      <tr *ngFor="let m of listeMatiere">

        <td>{{m.libelle}}</td>
        <td>{{m.coeffitien}}</td>


        <td>

          <a  title="supprimer" (click)="deleteMatiere(m.idMatiere)">
            <span class="glyphicon glyphicon-trash"></span>
          </a>

          <a>
            <span class="glyphicon glyphicon-wrench"></span>
          </a>


        </td>

      </tr>


      </tbody>
    </table>
    <ul>
      <div *ngIf="listeMatiere && listeMatiere.length">

        <div class="row justify-content-center">
          <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="size" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"  ></ngb-pagination>
        </div>

      </div>
    </ul>
  </div>
</div>
<p *ngIf="activatePanelSave==1">
  <ngb-alert [dismissible]="true" type="info" (close)="hidenPanelSave()">
    <strong> Données bien enregistées   </strong>
  </ngb-alert>
</p>

<div class="jumbotron" style="margin-top:2%;background-color: whitesmoke;margin-bottom: 5px; ">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="form-group">
      <label for="inputEmail">Libélle </label>
      <input type="text" class="form-control" id="inputEmail" placeholder="text"  name="libelle" ngModel>
    </div>

    <div class="form-group">
      <label for="inputEmaile">Coéfficient </label>
      <input type="text" class="form-control" id="inputEmaile" placeholder="text"  name="coeficient" ngModel>
    </div>

    <div class="form-group">
      <label class="control-label">Niveau</label>
      <select multiple class="form-control" id="exampleFormControlSelect02" name="idLevel"  ngModel >
        <option  *ngFor="let niveau of listeNiveau" value="{{niveau.idNiveau}}" > {{niveau.libelle}}</option>
      </select>
    </div>




    <button type="submit" class="btn btn-primary">ENREGISTRER</button>
  </form></div>

</body>
</html>
